body {
  font-size: 17px; }

#mob_topbar {
  background-color: #fa4b2a;
  margin-right: -10;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  height: 60px; }
  #mob_topbar img {
    padding-top: 15px; }

@media (min-width: 320px) and (max-width: 599px) {
  #mob_topbar img {
    width: 136px;
    height: auto;
    padding-top: 20px; } }
@media (min-width: 600px) {
  #mob_topbar img {
    width: 175px;
    height: auto; } }
@media (max-width: 319px) {
  #mob_topbar img {
    width: 107px;
    height: auto;
    padding-top: 21px; } }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format("woff"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  letter-spacing: normal;
  padding-bottom: 3px;
  padding-top: 10px;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale; }

.menu {
  color: white;
  top: -10px;
  float: left;
  padding: 5px 10px 0px 10px;
  z-index: 5;
  cursor: pointer; }

.notification {
  font-family: ff-din-web-condensed,Helvetica,sans-serif;
  text-transform: uppercase;
  background-color: #FA4B2A;
  border-left: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  display: block;
  width: 80px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px 0px;
  z-index: 0;
  border-left: 1px solid white;
  float: right;
  text-align: center;
  color: white;
  line-height: .5;
  cursor: pointer; }

strong {
  font-family: ff-din-web-condensed;
  font-size: 2em;
  line-height: 1.15;
  display: block; }

em {
  font-size: .5em;
  font-style: normal;
  font-weight: 600; }

.home, .long, .review, .video, .us {
  border-left: 4px solid #fa4b2a; }

.tech, .cars {
  border-left: 4px solid rgba(74, 233, 27, 0.75); }

.science, .forums {
  border-left: 4px solid #891bbd; }

.video, .search {
  border-left: 4px solid #347c98; }

.enter, .design {
  border-left: 4px solid #ff1903; }

@media (min-width: 1024px) {
  .visible_sm {
    display: none !important; } }
#back {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none; }

#hidden_menu {
  left: -250px; }

#back {
  display: none;
  z-index: 12; }

.side_menu {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  float: left;
  z-index: 13;
  position: fixed;
  overflow: scroll;
  height: 100%;
  left: -250px;
  transition-property: transform, left, right;
  transition-delay: 0s, 0s, 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms; }
  .side_menu li {
    list-style: none;
    background-color: #222;
    border-top: 1px solid #2F2F2F;
    margin-left: -40px;
    padding-left: 10px;
    height: 48px;
    color: white;
    line-height: 1;
    cursor: pointer;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 20px; }
    .side_menu li:hover {
      color: #fa4b2a; }
    .side_menu li img {
      display: inline-block;
      width: 21px;
      max-height: 18px;
      padding-top: 15px;
      padding-right: 10px; }
  .side_menu ul {
    z-index: 5;
    margin-top: 0px;
    border-right: 2px solid #fa4b2a; }
    .side_menu ul .long img {
      padding-top: 25px; }
    .side_menu ul .user {
      background-color: #000;
      height: 60px; }
      .side_menu ul .user .login {
        display: inline-block;
        float: right;
        min-width: 170px;
        max-width: 180px;
        line-height: 3; }
      .side_menu ul .user .img {
        width: 50px;
        height: 50px;
        display: inline-block; }
        .side_menu ul .user .img img {
          width: 36px;
          min-height: 36px;
          padding-top: 10px; }

.notifsm {
  width: 250px;
  background-color: white;
  top: 0;
  float: right;
  z-index: 13;
  position: fixed;
  overflow: scroll;
  height: 100%;
  right: -250px;
  transition-property: transform, left, right;
  transition-delay: 0s, 0s, 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  bottom: 0; }
  .notifsm ul {
    z-index: 5;
    margin-top: 0px;
    border-left: 2px solid #fa4b2a; }
    .notifsm ul li {
      list-style: none;
      padding: 10px;
      margin-left: -30px;
      font-size: .8rem; }
      .notifsm ul li .date {
        display: block;
        width: 100px;
        color: white;
        font-family: 'Pathway Gothic One', sans-serif;
        text-align: center;
        font-size: .8rem;
        text-transform: uppercase;
        padding: 2px 0px;
        border-radius: 2px;
        background-color: #FA4B2A; }
      .notifsm ul li a {
        color: black;
        text-decoration: none; }
        .notifsm ul li a:hover {
          color: #FA4B2A; }
    .notifsm ul .inactive {
      font-size: .6rem; }

.inactive {
  color: #4b433e; }

.contents {
  position: relative;
  margin-left: -10px;
  margin-right: -20px; }

.byline {
  font-family: Helvetica,Arial,sans-serif;
  font-size: .75rem;
  font-style: normal;
  color: #FFF;
  position: relative;
  font-weight: 300;
  margin: .25rem 0 0; }

#h3 {
  font-size: 2rem; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.p-comment-count {
  font-family: ff-din-web-condensed,Helvetica,sans-serif;
  font-size: .9rem;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  min-width: 25px;
  padding: .4rem .2rem .2rem;
  -webkit-font-smoothing: antialiased;
  line-height: .7;
  position: relative;
  float: right;
  right: 20%;
  opacity: 1 !important;
  position: absolute;
  z-index: 1; }

.p-comment-count:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-color: black;
  border-width: 5px 7px 0 0;
  position: absolute;
  top: 100%;
  right: 0; }

.taggreen {
  background-color: #4a8813 !important;
  color: white !important;
  opacity: 1 !important; }

.post11 {
  min-height: 175px;
  display: block;
  position: relative;
  padding: 1rem;
  cursor: pointer; }
  .post11:hover .cntnt:after {
    opacity: 0.9; }
  .post11 h2 {
    font-family: Adelle,Georgia,serif;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold; }

.cntnt {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5) inset;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .cntnt:after {
    opacity: .7;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .cntnt:before {
    opacity: .5; }

#cntnt2 {
  background-image: url("../img/milo.jpeg"); }
  #cntnt2:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #292484, #a83279);
    background-image: -moz-linear-gradient(135deg, #292484, #a83279);
    background-image: -o-linear-gradient(135deg, #292484, #a83279);
    background-image: linear-gradient(135deg, #292484, #a83279); }

#cntnt1 {
  background-image: url("../img/heart.gif"); }
  #cntnt1:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #292484, #dc4225);
    background-image: -moz-linear-gradient(135deg, #292484, #dc4225);
    background-image: -o-linear-gradient(135deg, #292484, #dc4225);
    background-image: linear-gradient(135deg, #292484, #dc4225); }

#cntnt3 {
  background-image: url("../img/len.png"); }
  #cntnt3:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #002f4b, #417711);
    background-image: -moz-linear-gradient(135deg, #002f4b, #417711);
    background-image: -o-linear-gradient(135deg, #002f4b, #417711);
    background-image: linear-gradient(135deg, #002f4b, #417711); }

#cntnt4 {
  background-image: url("../img/brother.png"); }
  #cntnt4:after {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg, #d38312, #002f4b);
    background-image: -moz-linear-gradient(135deg, #d38312, #002f4b);
    background-image: -o-linear-gradient(135deg, #d38312, #002f4b);
    background-image: linear-gradient(135deg, #d38312, #002f4b); }

#video {
  background-image: url("../img/moto.png");
  display: block; }
  #video:after {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: -moz-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: -o-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: linear-gradient(135deg, #dc4225, #002f4b); }
  #video a:before {
    transition: ease all .5s;
    border-radius: 40px;
    border: 2px solid;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    display: block;
    color: white;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    opacity: .5; }
  #video a:after {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-color: white;
    border-width: 10px 0 10px 13.33333px;
    -moz-transform: scale(0.9999);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -2px;
    z-index: 2;
    opacity: .8; }

html {
  font-family: sans-serif;
  line-height: 1.4; }

.row {
  transform: translate3d(0, 0, 0);
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  height: 175px;
  font-size: 0; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .post11 {
    height: 175px;
    width: 85%;
    display: inline-block;
    vertical-align: top;
    white-space: normal; }
  .row h2 {
    font-size: 1.2em; }

.post {
  font-size: 1rem;
  white-space: normal;
  height: 175px; }

.tagyellow {
  background-color: #FFD800 !important;
  color: #222 !important; }

.video1 {
  background-color: black; }
  .video1 .videopost {
    min-height: 250px; }
  .video1 .vlogo {
    display: inline-flex;
    width: 30px;
    height: 30px;
    padding: 20px; }
  .video1 .heading {
    color: white;
    display: inline;
    width: 100%;
    padding-top: 5px;
    font-size: .8rem;
    font-family: "Pathway Gothic One",sans-serif; }
    .video1 .heading a {
      color: #fa4b2a;
      text-decoration: none; }
      .video1 .heading a:hover {
        text-decoration: underline;
        color: #fa4b2a;
        cursor: pointer; }

.videobar {
  display: flex; }

.subvideo li {
  display: flex;
  list-style: none;
  margin-left: -27px;
  margin-top: -17px;
  border-bottom: 1px solid black;
  background-color: #373837; }
  .subvideo li:hover {
    background-color: #3b3a3a;
    cursor: pointer; }
    .subvideo li:hover h4 {
      color: #fa4b2a;
      cursor: pointer; }
  .subvideo li img {
    height: 82px;
    width: 125px;
    display: inline-flex; }
  .subvideo li h4 {
    color: white;
    font-size: .7rem;
    text-align: center;
    padding: 15px;
    font-family: Adelle,Georgia,serif; }

/*# sourceMappingURL=styles.css.map */
