body {
  font-size: 17px;
  overflow-x: hidden; }

#mob_topbar {
  background-color: #fa4b2a;
  margin-right: -10;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  height: 60px; }
  #mob_topbar img {
    padding-top: 15px; }

@media (min-width: 320px) and (max-width: 599px) {
  #mob_topbar img {
    width: 136px;
    height: auto;
    padding-top: 20px; } }
@media (min-width: 600px) {
  #mob_topbar img {
    width: 175px;
    height: auto; } }
@media (max-width: 319px) {
  #mob_topbar img {
    width: 107px;
    height: auto;
    padding-top: 21px; } }
@media (min-width: 320px) and (max-width: 599px) {
  #mob_topbar #title {
    height: 30px;
    padding-top: 15px; } }
@media (min-width: 600px) {
  #mob_topbar #title {
    padding-top: 10px;
    height: 35px; } }
@media (max-width: 319px) {
  #mob_topbar #title {
    padding-top: 20px;
    height: 25px; } }
@media (min-width: 700px) {
  #mob_topbar #trending_now_dropdown {
    display: block; }
  #mob_topbar #new_articles {
    padding-top: 5px; } }
@media (min-width: 1025px) {
  #mob_topbar {
    display: none; }

  .extra_div {
    display: block; } }
@media (min-width: 1024px) {
  .visible_sm {
    display: none !important; } }
@media (min-width: 500px) {
  .page_footer .connects {
    display: block; }
  .page_footer .connects, .page_footer .sections, .page_footer .basics {
    width: 33%; } }
@media (min-width: 1024px) {
  .contents {
    margin-top: 63px;
    margin-left: 2%; } }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format("woff"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  letter-spacing: normal;
  padding-bottom: 3px;
  padding-top: 10px;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale; }

.menu {
  color: white;
  top: -10px;
  float: left;
  padding: 0px 10px 0px 10px;
  z-index: 5;
  cursor: pointer; }
  .menu img {
    max-width: 30px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: -2px; }

#trending_now_dropdown {
  display: none;
  height: 60px;
  margin-top: -51px;
  position: relative;
  margin-right: 75px;
  margin-left: 300px;
  background-color: white; }
  #trending_now_dropdown #dropdown_content {
    font-family: 'Oswald', sans-serif;
    color: #fa4b2a;
    font-size: 11px;
    font-weight: 400;
    width: 93%;
    padding: 5px 10px;
    box-sizing: border-box; }
    #trending_now_dropdown #dropdown_content a {
      font-family: 'Lora', serif;
      color: black;
      text-decoration: none;
      font-size: 13px;
      font-weight: 500; }
      #trending_now_dropdown #dropdown_content a:hover {
        color: #fa4b2a; }
  #trending_now_dropdown #down_button {
    width: 35px;
    height: 60px;
    right: 2px;
    top: 0px;
    line-height: 3.5;
    text-align: center;
    float: right;
    position: absolute;
    margin: 0px;
    background-color: #d0caca; }
    #trending_now_dropdown #down_button img {
      width: 10px; }

@media (min-width: 700px) {
  #mob_topbar #trending_now_dropdown {
    display: block; } }
.extra_div {
  display: none;
  margin-top: 50px;
  margin-left: 2%;
  width: 1024px; }
  .extra_div .first .logo {
    background-color: #F82902;
    width: 310px;
    margin-left: -10px;
    opacity: 0.9;
    float: left;
    z-index: 100;
    padding: 15px 10px;
    cursor: pointer; }
    .extra_div .first .logo img {
      height: 50px; }
    .extra_div .first .logo:hover {
      opacity: 1; }
  .extra_div .first #nicky {
    height: 60px;
    margin-top: 24px;
    float: left; }
  .extra_div .first .trending_now_dropdown {
    height: 60px;
    width: 475px;
    margin-top: 24px;
    position: absolute;
    border-color: #8b8787;
    margin-left: 427px;
    cursor: pointer;
    background-color: white; }
    .extra_div .first .trending_now_dropdown div {
      font-family: "Oswald", sans-serif;
      color: #FA4B2A;
      font-size: 11px;
      font-weight: 400;
      padding: 5px 10px 20px;
      background-color: white;
      border: 1px solid #d0caca; }
      .extra_div .first .trending_now_dropdown div a {
        font-family: "Lora", serif;
        color: black;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500; }
        .extra_div .first .trending_now_dropdown div a:hover {
          color: #FA4B2A; }
    .extra_div .first .trending_now_dropdown span {
      height: 60px;
      width: 40px;
      background-color: #eadfdf;
      position: absolute;
      float: right;
      top: 0px;
      text-align: center; }
      .extra_div .first .trending_now_dropdown span img {
        width: 14px;
        margin-top: 25px;
        opacity: 0.5; }
      .extra_div .first .trending_now_dropdown span:hover img {
        opacity: 1; }
  .extra_div .first #new_articles {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    background-color: #F82902;
    opacity: 0.9;
    width: 82px;
    height: 55px;
    margin-left: 512px;
    text-transform: uppercase;
    top: 24px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    border-left: 1px solid #FFF; }
    .extra_div .first #new_articles a {
      color: white;
      text-decoration: none;
      line-height: 1; }
      .extra_div .first #new_articles a strong {
        font-size: 27px; }
      .extra_div .first #new_articles a span {
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1; }
    .extra_div .first #new_articles:hover {
      opacity: 1; }
  .extra_div .first .connects {
    position: relative;
    float: right;
    right: 10px;
    top: -80px; }
    .extra_div .first .connects ul {
      list-style-type: none; }
      .extra_div .first .connects ul li {
        display: inline;
        opacity: 0.8;
        margin-left: 10px; }
        .extra_div .first .connects ul li img {
          width: 20px;
          cursor: pointer; }
        .extra_div .first .connects ul li:hover {
          opacity: 1; }
  .extra_div .menu_2nd {
    width: 1024px;
    height: 45px;
    z-index: 90;
    position: absolute;
    background-color: #000;
    top: 134px; }
    .extra_div .menu_2nd ul {
      text-transform: uppercase;
      list-style-type: none;
      margin-top: -5px;
      height: 40px;
      padding: 0px 0px;
      margin: 0px 0px; }
      .extra_div .menu_2nd ul li {
        line-height: 2;
        padding-left: 5px;
        display: inline;
        font-family: "Pathway Gothic One", sans-serif;
        font-size: 1.2rem;
        line-height: 1.5;
        color: white;
        padding-right: 5px;
        cursor: pointer;
        height: 50px;
        transition: 100ms all linear; }
        .extra_div .menu_2nd ul li img {
          width: 10px;
          opacity: 0.4; }
        .extra_div .menu_2nd ul li:hover {
          color: #FA4B2A; }
          .extra_div .menu_2nd ul li:hover img {
            opacity: 1; }
        .extra_div .menu_2nd ul li:last-child {
          float: right; }
          .extra_div .menu_2nd ul li:last-child img {
            width: 20px;
            margin-right: 20px;
            margin-top: 15px;
            opacity: 0.6; }
            .extra_div .menu_2nd ul li:last-child img:hover {
              opacity: 1; }
      .extra_div .menu_2nd ul #login {
        line-height: 3;
        height: 65px;
        background-color: #000; }
        .extra_div .menu_2nd ul #login img {
          float: left;
          opacity: 1;
          margin-left: 5px;
          margin-top: 5px;
          width: 30px; }
        .extra_div .menu_2nd ul #login span {
          font-size: 12px; }

@media (min-width: 1025px) {
  #mob_topbar {
    display: none; }

  body {
    max-width: 1025px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%; }

  .extra_div {
    display: block; }
    .extra_div .first .trending_now_dropdown span {
      right: -40px; } }
.notification {
  font-family: ff-din-web-condensed,Helvetica,sans-serif;
  text-transform: uppercase;
  background-color: #FA4B2A;
  border-left: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  display: block;
  width: 80px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px 0px;
  z-index: 0;
  border-left: 1px solid white;
  float: right;
  text-align: center;
  color: white;
  line-height: .5;
  cursor: pointer; }

strong {
  font-family: ff-din-web-condensed;
  font-size: 2em;
  line-height: 1.15;
  display: block; }

em {
  font-size: .5em;
  font-style: normal;
  font-weight: 600; }

.home, .long, .review, .video, .us {
  border-left: 4px solid #fa4b2a; }

.tech, .cars {
  border-left: 4px solid rgba(74, 233, 27, 0.75); }

.science, .forums {
  border-left: 4px solid #891bbd; }

.video, .search {
  border-left: 4px solid #347c98; }

.enter, .design {
  border-left: 4px solid #ff1903; }

@media (min-width: 1024px) {
  .visible_sm {
    display: none !important; }

  .contents {
    padding-left: 31px; } }
#back {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none; }

#hidden_menu {
  left: -250px; }

#back {
  display: none;
  z-index: 12; }

.side_menu {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  float: left;
  z-index: 13;
  position: fixed;
  overflow: scroll;
  height: 100%;
  left: -250px;
  transition-property: transform, left, right;
  transition-delay: 0s, 0s, 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms; }
  .side_menu li {
    list-style: none;
    background-color: #222;
    border-top: 1px solid #2F2F2F;
    margin-left: -40px;
    padding-left: 10px;
    height: 48px;
    color: white;
    line-height: 1;
    cursor: pointer;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 20px; }
    .side_menu li:hover {
      color: #fa4b2a; }
    .side_menu li img {
      display: inline-block;
      width: 21px;
      max-height: 18px;
      padding-top: 15px;
      padding-right: 10px; }
  .side_menu ul {
    z-index: 5;
    margin-top: 0px;
    border-right: 2px solid #fa4b2a; }
    .side_menu ul .long img {
      padding-top: 25px; }
    .side_menu ul .user {
      background-color: #000;
      height: 60px; }
      .side_menu ul .user .login {
        display: inline-block;
        float: right;
        min-width: 170px;
        max-width: 180px;
        line-height: 3; }
      .side_menu ul .user .img {
        width: 50px;
        height: 50px;
        display: inline-block; }
        .side_menu ul .user .img img {
          width: 36px;
          min-height: 36px;
          padding-top: 10px; }

.notifsm {
  width: 250px;
  background-color: white;
  top: 0;
  float: right;
  z-index: 13;
  position: fixed;
  overflow: scroll;
  height: 100%;
  right: -250px;
  transition-property: transform, left, right;
  transition-delay: 0s, 0s, 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  bottom: 0; }
  .notifsm ul {
    z-index: 5;
    margin-top: 0px;
    border-left: 2px solid #fa4b2a; }
    .notifsm ul li {
      list-style: none;
      padding: 10px;
      margin-left: -30px;
      font-size: .8rem; }
      .notifsm ul li .date {
        display: block;
        width: 100px;
        color: white;
        font-family: 'Pathway Gothic One', sans-serif;
        text-align: center;
        font-size: .8rem;
        text-transform: uppercase;
        padding: 2px 0px;
        border-radius: 2px;
        background-color: #FA4B2A; }
      .notifsm ul li a {
        color: black;
        text-decoration: none; }
        .notifsm ul li a:hover {
          color: #FA4B2A; }
    .notifsm ul .inactive {
      font-size: .6rem; }

.inactive {
  color: #4b433e; }

.contents {
  position: relative;
  margin-left: -10px;
  margin-right: -20px; }

.byline {
  font-family: Helvetica,Arial,sans-serif;
  font-size: .75rem;
  font-style: normal;
  color: #FFF;
  position: relative;
  font-weight: 300;
  margin: .25rem 0 0; }

#h3 {
  font-size: 2rem; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.p-comment-count {
  font-family: ff-din-web-condensed,Helvetica,sans-serif;
  font-size: .9rem;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  min-width: 25px;
  padding: .4rem .2rem .2rem;
  -webkit-font-smoothing: antialiased;
  line-height: .7;
  position: relative;
  float: right;
  right: 20%;
  opacity: 1 !important;
  position: absolute;
  z-index: 1; }

.p-comment-count:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-color: black;
  border-width: 5px 7px 0 0;
  position: absolute;
  top: 100%;
  right: 0; }

.taggreen {
  background-color: #4a8813 !important;
  color: white !important;
  opacity: 1 !important; }

.post11 {
  min-height: 175px;
  display: block;
  position: relative;
  padding: 1rem;
  cursor: pointer; }
  .post11:hover .cntnt:after {
    opacity: 0.9; }
  .post11 h2 {
    font-family: Adelle,Georgia,serif;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold; }

.cntnt {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5) inset;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .cntnt:after {
    opacity: .7;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .cntnt:before {
    opacity: .5; }

#cntnt2 {
  background-image: url("../img/milo.jpeg"); }
  #cntnt2:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #292484, #a83279);
    background-image: -moz-linear-gradient(135deg, #292484, #a83279);
    background-image: -o-linear-gradient(135deg, #292484, #a83279);
    background-image: linear-gradient(135deg, #292484, #a83279); }

#cntnt1 {
  background-image: url("../img/heart.gif"); }
  #cntnt1:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #292484, #dc4225);
    background-image: -moz-linear-gradient(135deg, #292484, #dc4225);
    background-image: -o-linear-gradient(135deg, #292484, #dc4225);
    background-image: linear-gradient(135deg, #292484, #dc4225); }

#cntnt3 {
  background-image: url("../img/len.png"); }
  #cntnt3:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #002f4b, #417711);
    background-image: -moz-linear-gradient(135deg, #002f4b, #417711);
    background-image: -o-linear-gradient(135deg, #002f4b, #417711);
    background-image: linear-gradient(135deg, #002f4b, #417711); }

#cntnt4 {
  background-image: url("../img/brother.png"); }
  #cntnt4:after {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg, #d38312, #002f4b);
    background-image: -moz-linear-gradient(135deg, #d38312, #002f4b);
    background-image: -o-linear-gradient(135deg, #d38312, #002f4b);
    background-image: linear-gradient(135deg, #d38312, #002f4b); }

#video {
  background-image: url("../img/moto.png");
  display: block; }
  #video:after {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: -moz-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: -o-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: linear-gradient(135deg, #dc4225, #002f4b); }
  #video a:before {
    transition: ease all .5s;
    border-radius: 40px;
    border: 2px solid;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    display: block;
    color: white;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    opacity: .5; }
  #video a:after {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-color: white;
    border-width: 10px 0 10px 13.33333px;
    -moz-transform: scale(0.9999);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -2px;
    z-index: 2;
    opacity: .8; }

.subv:after {
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-color: white;
  border-width: 10px 0 10px 13.33333px;
  -moz-transform: scale(0.9999);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -2px;
  z-index: 2;
  opacity: .8; }
.subv:before {
  transition: ease all .5s;
  border-radius: 40px;
  border: 2px solid;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  display: block;
  color: white;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  opacity: .5; }

html {
  font-family: sans-serif;
  line-height: 1.4; }

.row {
  transform: translate3d(0, 0, 0);
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  height: 175px;
  font-size: 0; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .post11 {
    height: 175px;
    width: 85%;
    display: inline-block;
    vertical-align: top;
    white-space: normal; }
  .row h2 {
    font-size: 1.2em; }

.post {
  font-size: 1rem;
  white-space: normal;
  height: 175px; }

.tagyellow {
  background-color: #FFD800 !important;
  color: #222 !important; }

.video1 {
  background-color: black;
  padding-bottom: 2px; }
  .video1 .videopost {
    min-height: 250px; }
  .video1 .vlogo {
    display: inline-flex;
    width: 30px;
    height: 30px;
    padding: 20px; }
  .video1 .heading {
    color: white;
    display: inline;
    width: 100%;
    padding-top: 5px;
    font-size: .8rem;
    font-family: "Pathway Gothic One",sans-serif;
    text-transform: uppercase; }
    .video1 .heading a {
      color: #fa4b2a;
      text-decoration: none; }
      .video1 .heading a:hover {
        text-decoration: underline;
        color: #fa4b2a;
        cursor: pointer; }

.videobar {
  display: flex; }

.subvideo li {
  display: flex;
  list-style: none;
  margin-left: -40px;
  margin-top: -17px;
  border-bottom: 1px solid black;
  background-color: #373837; }
  .subvideo li:hover {
    background-color: #3b3a3a;
    cursor: pointer; }
    .subvideo li:hover h4 {
      color: #fa4b2a;
      cursor: pointer; }
  .subvideo li .subv {
    background-size: 125px 82px;
    display: inline-flex;
    width: 125px;
    position: relative; }
  .subvideo li h4 {
    color: white;
    font-size: .7rem;
    text-align: center;
    padding: 15px;
    font-family: Adelle,Georgia,serif; }

.sub1 {
  background-image: url(../img/moto_360.jpg); }

.sub2 {
  background-image: url(../img/xperia.jpg); }

.sub3 {
  background-image: url(../img/avengers.jpg); }

#vidbottom {
  text-align: center;
  top: 0;
  font-weight: 200; }
  #vidbottom h2:hover {
    color: #fa4b2a;
    text-decoration: underline;
    cursor: pointer; }

.news ul {
  background-color: white; }
.news li {
  display: flex;
  list-style: none;
  margin-left: -40px;
  font-size: .2rem;
  padding: 10px 30px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  .news li img {
    width: 82px;
    height: 82px; }
  .news li .h2 {
    display: inline-block;
    font-family: Adelle,Georgia,serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.2;
    color: #444;
    padding-left: 20px; }
    .news li .h2 .auther {
      color: #333;
      font-style: bold; }
  .news li h3 {
    display: inline-block;
    font-family: Adelle,Georgia,serif;
    font-weight: 600;
    font-size: .7rem; }
  .news li span {
    font-size: .7rem; }
.news #newsbottom {
  background-color: #f7f1ee;
  font-size: 2rem;
  display: block;
  color: #fa4b2a;
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Pathway Gothic One",sans-serif; }
  .news #newsbottom h4 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px; }
    .news #newsbottom h4:hover {
      text-decoration: underline;
      cursor: pointer; }

.backtotop {
  background: rgba(0, 0, 0, 0.6);
  height: 30px;
  text-align: center;
  padding-top: 15px;
  margin-top: -17px;
  margin-right: -10px;
  margin-left: -10px;
  padding-bottom: 10px; }
  .backtotop a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    line-height: 1.4; }

footer {
  background-color: black;
  margin-left: -10px;
  margin-right: -10px;
  padding: 20px 25px;
  font-family: Adelle,Georgia,serif;
  font-size: .9rem;
  line-height: 1.7;
  font-weight: 600; }
  footer input {
    border-radius: 0px;
    border: none;
    height: 55px;
    width: 100%;
    color: black;
    font-size: 1.1rem; }
  footer ul {
    color: white;
    margin-left: -15px; }
    footer ul li {
      padding: 3px;
      list-style: none;
      margin-left: -20px;
      color: #999;
      cursor: pointer; }
  footer .first {
    width: 43%;
    display: inline-block; }
  footer .second {
    display: inline-block;
    width: 43%; }
  footer .third {
    display: none; }

@media (min-width: 500px) {
  footer .first {
    width: 29%; }
  footer .second {
    width: 29%; }
  footer .third {
    display: inline-block; } }
@media (min-width: 700px) {
  .vid {
    display: flex;
    height: 100%; }
    .vid .videopost {
      width: 100%;
      display: flex-column; }
    .vid .vidsub {
      display: flex-row;
      width: 100%;
      height: 100%; }
      .vid .vidsub li {
        height: 100%; }
      .vid .vidsub ul {
        margin-bottom: 0px; }
        .vid .vidsub ul img {
          margin-bottom: -20px; } }
@media (min-width: 600px) {
  .photos {
    display: flex; }
    .photos #post11 {
      width: 50%;
      height: 382px;
      display: flex-column; }
    .photos .post12 {
      display: flex-row; }

  .news ul {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    padding: 0px; }
    .news ul li {
      height: 100%;
      width: 48%;
      display: flex;
      border-left: 1px solid #d0caca;
      flex-direction: column;
      position: relative;
      flex-wrap: nowrap;
      margin: 0px 0px;
      padding: 5px 5px; }
      .news ul li img {
        width: 200px;
        height: 200px;
        margin-top: 80px;
        margin-left: 10%;
        position: static; }
      .news ul li p {
        display: block;
        font-size: .85rem;
        font-family: Helvetica,Arial,sans-serif;
        color: #444; }

  .h2 {
    float: left;
    top: -200px; }

  #newsbottom {
    width: 100%; } }
@media (max-width: 599px) {
  .hiddennews {
    display: none; } }
@media (min-width: 1024px) {
  footer {
    margin-left: 21px;
    margin-right: -20px; }

  .backtotop {
    margin-left: 21px;
    margin-right: -20px; } }

/*# sourceMappingURL=styles.css.map */
